body {
    font-size: 1.6em;
    font-family: Helvetica,Arial,sans-serif;
    background-color: #222;
    color: #bbb;
}

a {
    color: #0ee;
    text-shadow: 1px 1px 3px #000;
}

a:hover, a:focus {
    color: #ff3;
    text-decoration: none;
}

#donate {
    color: #AF5;
    text-shadow: 0 0 3px #361;
}

#donate:hover {
    text-shadow: 0 0 5px #AF5;
}

#donations-currency {
    color: black;
}

#donations-amount {
    color: black;
    padding-left: 0.2em;
    border-radius: 2px;
}

#donations-currency, #donations-amount {
    height: 1.75em;
    line-height: normal !important;
    color:black;
    border: none;
}

.donations-button {
    color: #555;
    font-weight: bold;
    background: #fb3;
    border: 0.75px solid #fb3;
    border-radius: 0.4em;
    padding: 0.28em 0.75em 0.28em 0.75em;
    text-shadow: none;
    box-shadow: 1 1 5px #000;
    cursor: pointer;
}

.donations-button-span a:hover, .donations-button-span a:focus {
    background: #fc0;
    color: white;
    border: 2px solid #fc0;
    box-shadow: 0 0 7px #fc0;
}

.option {
    color: rgb(93, 214, 168);
    text-shadow: 1px 1px 3px #000;
}

div #donations-box {
    display: none;
    font-size: 0.8em;
    position: relative;
    float: left;
    margin-top: 14px;
}

.navbar-nav > li > a, .index > li > a {
    color: #ccc;
}

.navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .index > li > a:focus, .index > li > a:hover {
    color: #fff;
    background-color: #333;
    text-decoration: none;
}

.btn-info {
    border: solid #066 2px;
    background-color: #099;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn:hover, .btn:focus {
    background-color: #0bb;
}

.navbar-brand {
    color: #fff !important;
}

body {
    font-size: 1.7em;
}

h2 {
    font-size: 1.6em;
    font-family: arial, sans-serif;
    margin-top: 1em;
    color: #eee;
    text-shadow: 1px 1px 3px #000;
}

h3 {
    font-size: 1.5em;
    font-family: arial, sans-serif;
    margin-top: 1em;
    color: #ddd;
    text-shadow: 1px 1px 3px #000;
}

pre {
    background-color: #ccc;
    border: 1px solid #666;
    font-weight: bold;
}

.navbar > .container {
    padding-right: 0px;
}

.navbar-collapse {
    padding-right: 0px;
}


.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #111;
}

.main {
  padding: 0px 0px;
}

.carousel {
  background-color: #000;
  border-top: 2px solid #3a3a3a;
  border-bottom: 2px solid #3a3a3a;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
