body {
    font-size: 1.6em;
    font-family: Helvetica,Arial,sans-serif;
}

pre {
    font-weight: bold;
}

.btn {
    text-transform: none;
    font-size: 18px;
}

.logo, .player, .btn {
    box-shadow: 1px 1px 2px #666;
}

.main {
  padding: 0px 15px;
}
