body {
    font-size: 1.6em;
    font-family: Helvetica,Arial,sans-serif;
    background-color: #222;
    color: #fff;
}

a {
    color: #0ee;
}

a:hover, a:focus {
    color: #ff0;
    text-decoration: none;
}

#donate {
    color: #AF5;
    text-shadow: 0 0 3px #361;
}

#donate:hover {
    text-shadow: 0 0 5px #AF5;
}

#donations-box  input, #donations-box select {
    color: black;
    line-height: normal !important;
    vertical-align: bottom;
    box-sizing: border-box;
    height: 26px;
}

div #donations-box {
    display: none;
    position: relative;
    float: left;
    padding: 5px;
    margin-top: 7px;
}

.navbar-nav > li > a, .index > li > a {
    color: #ccc;
}

.navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .index > li > a:focus, .index > li > a:hover {
    color: #fff;
    background-color: #333;
    text-decoration: none;
}

.btn-info {
    border: solid #066 2px;
    background-color: #099;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn:hover, .btn:focus {
    background-color: #0bb;
}

.navbar-brand {
    color: #fff !important;
}

h2 {
    font-size: 1.6em;
    font-family: arial, sans-serif;
    margin-top: 1em;
    color: #fff;
}

h3 {
    font-size: 1.5em;
    font-family: arial, sans-serif;
    margin-top: 1em;
    color: #eee;
}

pre {
    background-color: #ccc;
    border: 1px solid #666;
    font-weight: bold;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #111;
}

.main {
  padding: 0px 0px;
}

.carousel {
  background-color: #000;
  border-top: 2px solid #3a3a3a;
  border-bottom: 2px solid #3a3a3a;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
