*.avi
.idea
cmake-build-debug/
build/
**/*.o
*.mpg
*.mkv
*.mp4
gource-*.png
.objs
/gource
/gource.exe
gource.pro.user
debug.log
Makefile
Makefile.in
*.dll
*.dll.a
logs/*
/aclocal.m4
/autom4te.cache
/configure
/config.log
/config.status
/dev/win64
/build-aux
*.swp
*.d
.deps
.dirstamp
