*.avi
*.mpg
*.mkv
*.mp4
gource-*.png
.objs
/gource
/gource.exe
gource.win32.depend
gource.win32.layout
debug.log
Makefile
Makefile.in
*.dll
*.dll.a
logs/*
/aclocal.m4
/autom4te.cache
/configure
/config.log
/config.status
/build-aux
*.swp
*.d
.deps
.dirstamp
