gource
gource.exe
gource.depend
gource.layout
debug.log
Makefile
Makefile.in
*.dll
logs/*
/aclocal.m4
/autom4te.cache
/configure
/config.sub
/config.guess
/config.log
/config.status
/depcomp
/install-sh
/missing
*.swp
*.d
/src/.deps/
/src/.dirstamp
