Source: gource
Section: graphics
Priority: optional
Maintainer: Andrew Caudwell <acaudwell@gmail.com>
Build-Depends: debhelper (>= 7), libsdl1.2-dev, libsdl-image1.2-dev, libpcre3-dev, libftgl-dev
Standards-Version: 3.8.0
Homepage: http://gource.googlecode.com/
Vcs-Browser: http://github.com/acaudwell/gource
Vcs-Git: git://github.com/acaudwell/gource.git
 
Package: gource
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Gource
 OpenGL-based 3D visualisation tool for source control repositories.
 .
 The repository is displayed as a tree where the root of the repository is the
 centre, directories are branches and files are leaves. Contributors to the
 source code appear and disappear as they contribute to specific files and
 directories.
